<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="singerstone.com.superapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".SuperApp"
        android:allowBackup="true"
        android:icon="@mipmap/laboratory"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/laboratory"
        android:supportsRtl="true"
        android:theme="@style/SupperAppTheme">
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/Base.Theme.AppCompat.Light"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="superapp"
                    android:scheme="app" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.calendar.action.HANDLE_CUSTOM_EVENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/event" />
            </intent-filter>
        </activity>
        <activity android:name=".KotlinActivity" />
        <activity android:name=".TestActivity" />

        <service
            android:name=".Accessbility.AutoAccessbility"
            android:enabled="true"
            android:exported="true"
            android:label="自动点击"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/check_accessibility_config" />
        </service>

        <activity android:name=".ServiceIPC.ServiceIPCActivity" />

        <service
            android:name=".ServiceIPC.IPCService"
            android:enabled="true"
            android:process="com.singerstone.remote.ipcremote">
            <intent-filter>
                <action android:name="com.singerstone.supperapp.remote" />
            </intent-filter>
        </service>

        <activity android:name=".keeplive.KeepLiveActivity" />

        <service
            android:name=".keeplive.LiveService"
            android:enabled="true"></service>
        <receiver android:name="singerstone.com.superapp.qqlive.MyReceiver"></receiver>
        <provider
            android:name="singerstone.com.superapp.ServiceIPC.MyContentProvider"
            android:authorities="com.singerstone.provider"
            android:exported="true"
            android:process=":provider"/>
    </application>

</manifest>